.home--portMap {
  height: 100%;
}

.main__wrapper {
  border: solid 1px #ccc;
  display: flex;
  height: 600px;
}

.map__wrapper {
  position: relative;
  height: 100%;
  width: 75%;
}

.map__nav {
  width: 25%;
  background: lightblue;
  overflow-y: scroll;
}